body {
    background-image: url(imagenes/coco.jpg);
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;

}

.header {
    width: 100%;
    display: flex;
    /* margin-bottom: 50px;  */
    flex: 1;

}


.icono {
    width: 200px;
    margin-right: 40px;
}

.cara {

    width: auto;
    font-size: 18px;
    padding: 25px 20px;
    display: inline-block;
}

.Menú1 {
    display: flex;
    width: auto;
    margin-top: 50px;
    margin-left: 1100px;

}



.Menú1 ul li {
    float: left;

}



.Menú1 ul li a {

    font-size: 18px;
    padding: 25px 20px;
    display: inline-block;


}




.Menú1 ul li a i {
    padding-right: 10px;


}

.banner {
    margin-top: 0%;
    display: flex;
    top: 0%;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    
  width: 100%;
    

}

.foto1 {
    width: 1890px;
    height: 440px;
    margin: auto;
}

.padre {

    margin-top: 10px;
    display: flex;
    flex-flow: row;
    width: 100%;
    

}

.foto2 {
    width: 260px;
    height: 200px;
    flex: 1;
    margin-right: 370px;
    margin-left: 20px;


}

.foto3 {
    width: 250px;
    height: 200px;
    flex: 1;
}

.foto4 {
    width: 250px;
    height: 400px;
    margin-left: 350px;
    flex: 1;

}

.padre2 {
    display: flex;
    flex-direction: column;
    


}

.texto4 {

    top: 0%;
    width: 41%;
    flex: 1;
    margin-left: 350px;



}

.texto2 {
    top: 0%;
    width: 41%;
    flex: 1;
    margin-left: 25px;
}

.texto3 {
    flex: 1;
   
}

.padre4 {
    display: flex;
    flex-direction: column;
    

}

.padre3 {
    display: flex;
    flex-direction: column;
    
    margin-left: 200px;
   
}