header {
    width: 100%;

    display: flex;
    margin-bottom: 50px;
    flex: 1;
}

.icono {
    width: 200px;

}

.cara {

    width: auto;
    font-size: 18px;
    padding: 25px 20px;
    display: inline-block;
}

.Menú1 {
    display: flex;
    width: auto;
    margin-top: 50px;
    margin-left: 800px;

}



.Menú1 ul li {
    float: left;
}



.Menú1 ul li a {

    font-size: 18px;
    padding: 25px 20px;
    display: inline-block;

}




.Menú1 ul li a i {
    padding-right: 10px;

}.banner{
    
    
    
}