.header {
    width: 100%;
    display: flex;
    /* margin-bottom: 50px;  */
    flex: 1;
}

.Menú1 {
    display: flex;
    width: auto;
    margin-top: 50px;
    margin-left: 1100px;
}

.Menú1 ul li {
    float: left;
}

.Menú1 ul li a {
    font-size: 18px;
    padding: 25px 20px;
    display: inline-block;
}

.Menú1 ul li a i {
    padding-right: 10px;
}

.icono {
    width: 200px;
    margin-left: 40px;
}

.papi {
    display: flex;
    flex-direction: row;
    margin-top: 170px;
}

.Video1 {
    text-align: left;
    margin: auto;
}

.TextoVideo1 {
    text-align: center;
}

.Video2 {
    text-align: center;
    margin: auto;
}

.Video3 {
    text-align: right;
    margin: auto;
}

.TextoVideo3 {
    text-align: center;
}

iframe {
    border-width: 0px;
}

#fondo {
    background-image: url(../imagenes/coco.jpg);
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
}